Course-4/Distributed-computing/7-WCFService/WCFServiceClient/WCFServiceClient/Service References/CyptoWCFServiceReference/CyptoWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:13044/CyptoWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewWcfService" />
  <xs:element name="Encrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NewWcfService" minOccurs="0" name="str" nillable="true" type="q1:CryptoStr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NewWcfService" minOccurs="0" name="EncryptResult" nillable="true" type="q2:CryptoStr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Decrypt">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NewWcfService" minOccurs="0" name="str" nillable="true" type="q3:CryptoStr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DecryptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NewWcfService" minOccurs="0" name="DecryptResult" nillable="true" type="q4:CryptoStr" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>