Course-4/Distributed-computing/7-WCFService/WCFServiceClient/WCFServiceClient/Service References/CyptoWCFServiceReference/CyptoWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CyptoWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:13044/CyptoWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:13044/CyptoWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:13044/CyptoWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NewWcfService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICyptoWCFService_Encrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Encrypt" />
  </wsdl:message>
  <wsdl:message name="ICyptoWCFService_Encrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:EncryptResponse" />
  </wsdl:message>
  <wsdl:message name="ICyptoWCFService_Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="ICyptoWCFService_Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:portType name="ICyptoWCFService">
    <wsdl:operation name="Encrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICyptoWCFService/Encrypt" message="tns:ICyptoWCFService_Encrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICyptoWCFService/EncryptResponse" message="tns:ICyptoWCFService_Encrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/ICyptoWCFService/Decrypt" message="tns:ICyptoWCFService_Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICyptoWCFService/DecryptResponse" message="tns:ICyptoWCFService_Decrypt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICyptoWCFService" type="tns:ICyptoWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Encrypt">
      <soap:operation soapAction="http://tempuri.org/ICyptoWCFService/Encrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/ICyptoWCFService/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CyptoWCFService">
    <wsdl:port name="BasicHttpBinding_ICyptoWCFService" binding="tns:BasicHttpBinding_ICyptoWCFService">
      <soap:address location="http://localhost:13044/CyptoWCFService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>